<template>
    <div class="page page-{{properCase name}}">{{ properCase name }}</div>
</template>

<script>
    export default {
        name: '{{ properCase name }}',
        components: {},
        data() {
            return {};
        },
        computed: {
        },
        watch: {

        },
        created() {
        },
        mounted() {
        },
        methods: {}
    };
</script>

<style lang="scss" scoped>

</style>