
// 全局变量
$colorWhite: #fff;
$colorGray: #666666;
$colorGrayLight: #bdbdbd;
$colorRed: #FF7B8C;
$colorRedLight: #FFE7E9;
$colorBlack: #333333;
$colorBlue: rgb(77, 161, 255);
$colorBlueLight: #DFEDFE;
$colorGreen: #83D587;
$colorPurple: #9587F1;

$colorFont: #424242;
$colorPrimary:#4dA1FF;
$colorLinkText: #5182E4;

//line
$colorLine: #e1e1e1;

// bg
$colorBg: #f4f5f5;

//fontSize

$fontLarger: 20px;
$fontLarge: 16px;
$fontMedium: 14px;
$fontSmall: 12px;
